/* ===== CSS RESET ===== */
/* Đặt lại các thông số mặc định của trình duyệt để giao diện đồng nhất */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}
